.body__black{
    background: var(--dark-background, #17171C);
}

.body__white{
    background: var(--dark-background, #e4e4ff);
}

.calculconteiner {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 48px);
    grid-template-rows: repeat(5, 48px);
    gap: 16px;

    .C {
        grid-column: 1/3;
        background: var(--dark-button-medium-emphasis, #4E505F);
    }
    .C__white {
        grid-column: 1/3;
        background: var(--dark-button-medium-emphasis, #ffffff);
    }

    .delenie {
        grid-column: 3/5;
    }

    .button__calcul {
        border-radius: 24px;
        background: var(--dark-button-low-emphasis, #2E2F38);
        color: var(--dark-text, #FFF);
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        /* 125% */
    }

    .button__calcul__white {
        border-radius: 24px;
        background: var(--dark-button-low-emphasis, rgb(254, 255, 249));
        color: var(--dark-text, #000000);
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        /* 125% */
    }
    .iter , .res{
        background: var(--dark-button-high-emphasis, #4B5EFC);
    }
}

section {
    width: 335px;
    margin: auto;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 200px;

    .primer__conteiner {
        display: flex;
        padding-bottom: 50px;
        height: 100px;
        .primer__all {
            color: #FFF;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px;
        }
        .primer__all__white{
            color: #000000;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px;
        }
    
    }
    
    
}




.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }